@font-face {
    font-family: Regular;
    src: url("../Assets/Typography/Product\ Sans\ Regular.ttf");
}

@font-face {
    font-family: Bold;
    src: url("../Assets/Typography/Product\ Sans\ Bold.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
    --blue: #583EBD;
    --bg: #f1f1f1;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg) ;
    font-family: 'Open Sans', sans-serif;
}

.slide{
    background-color: var(--blue);
    width: 100vw;
    height: 100vh;
    border-radius: 0px 30px 30px 0px;
    position: absolute;
    left: -90vw;
    transition: all 0.8s ease-in-out;
    z-index: 2;
}

.slide h3{
    color: white;
    font-family: "Bold";
    font-size: 0.9rem;
    text-transform: uppercase;
    transform: rotate(-90deg);
    position: absolute;
    left: 89%;
    width: fit-content;
    top: 60%;
    transition: 0.6s;
    // background-color: brown;
    .b{
        display: none;
    }
}

.slide:hover{
    left: -20%;

    h3{
        transform: rotate(0deg);
        color: black;
        width: 50px;
        content: "Hue hue";
        left: 105%;
        top: 80%;
        .a{
            display: none;
        }

        .b{
            display: block;
        }
    }
    .basics{
        display: none;
    }
}

.slide:hover ~ .basics{
    .info{
        margin-left: 20px;
        // margin-top: -5px;
        transform: scale(1.02);
        h1{
            color: #f2f2f2;
            letter-spacing: 1px;
        }

        h3{
            color: #f2f2f2;
            letter-spacing: 4px;
        }
    }
}

.basics{
    display: flex;
    align-items: center;
}

.pp{
    // background-color: brown;
    width: 24vh;
    height: 24vh;
    position: relative;
    z-index: 2;
    // padding: 20px;
    left: 5vw;
    top: 50px;
}

.info{
    position: relative;
    z-index: 2;
    left: 3vw;
    top: 50px;
    h1{
        font-family: bold;
        font-size: 2rem;
        text-transform: uppercase;
        color: #4a4a4a;
        transition: 0.9s
    }

    h3{
        font-weight: 390;
        font-size: 16px;
        // line-height: 33px;
        color: #4A4A4A;
        transition: 0.9s
    }
    transition: 1s;
}


.slide p{
    color: #f2f2f2;
    width: 40%;
    height: auto;
    margin-left: 35%;
    margin-top: 40vh;
    text-align: center;
}

.grids{
    display: flex;
    align-items: center;
    width: 60vw;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    // margin-left: 50px;
    position: relative;
    z-index: 1;

    transition: 1s ease;
    .ca{
        margin-left: 0;
        .cara{
            background-color: var(--blue);
            width: 120px;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            // margin: auto;
            border-radius: 30px;
            border: 5px solid rgba(98, 72, 199, 0.47);
            margin: 10px;
            a{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
            transition: all 0.6s ease;
        }
        .carb{
            background-color: var(--blue);
            width: 120px;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            // margin: auto;
            border-radius: 30px;
            border: 5px solid rgba(98, 72, 199, 0.47);
            margin: 10px;
            a{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
            transition: all 0.6s ease;
        }
    }

    .cb{
        background-color: var(--blue);
        width: 250px;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        // margin: auto;
        border-radius: 30px;
        border: 5px solid rgba(98, 72, 199, 0.47);
        // margin-left: -150px;
        a{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
           img{
                width: 5rem;
                height: 5rem;
            }
        }
        transition: all 0.6s ease;
    }

    .cc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .ccra{
            display: flex;
            align-items: center;
            justify-content: center;
            .ccraca{
                background-color: var(--blue);
                width: 120px;
                height: 120px;
                display: flex;
                align-items: center;
                justify-content: center;
                // margin: auto;
                border-radius: 30px;
                border: 5px solid rgba(98, 72, 199, 0.47);
                margin: 10px 5px 10px 10px;
                a{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                }
                transition: all 0.6s ease;
            }
            .ccracb{
                background-color: var(--blue);
                width: 120px;
                height: 120px;
                display: flex;
                align-items: center;
                justify-content: center;
                // margin: auto;
                border-radius: 30px;
                border: 5px solid rgba(98, 72, 199, 0.47);
                margin: 10px 10px 10px 5px;
                a{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                }
                transition: all 0.6s ease;
            }
        }

        .ccrb{
            background-color: var(--blue);
            width: 250px;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            // margin: auto;
            border-radius: 30px;
            border: 5px solid rgba(98, 72, 199, 0.47);
            // margin-left: -150px;
            a{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
               img{
                    width: 2.5rem;
                    height: 2.5rem;
                }
            } 
            transition: all 0.6s ease;
        }
    }
}

.grids .cc .ccrb:hover, .grids .cc .ccra .ccraca:hover,.grids .cc .ccra .ccracb:hover, .grids .cb:hover,.grids .ca .cara:hover, .grids .ca .carb:hover{
    transform: scale(1.04);
    box-shadow: 0px 28px 32px -20px rgba(0, 0, 0, 0.4);
}

.slide:hover ~ .grids{
    transform: scale(0.9);
    opacity: 0.3;
}

@media (max-width: 600px){
    .slide{
        width: 50vw;
    }
}